# Build and Release Folders
bin/
bin-debug/
bin-release/
[Oo]bj/ # FlashDevelop obj
[Bb]in/ # FlashDevelop bin

# Other files and folders
.settings/

# lock
*.lock

# Executables
*.swf
*.air
*.ipa
*.apk

# Hugo
public/

# Backup Files
*.markdown~
*.md~

# Build directories
public
dist

# Dependency directory
node_modules
package-lock.json
bower_components

# Mac File System File
.DS_Store

# Folders + Other Files
_obj
_test
/public
.hugo_build.lock
resources/_gen/
.old
/.obsidian
test/
.env
.vscode
/themes
