/* Custom styles */

.post-description {
	display: none;
}

iframe {
    border-radius: var(--radius) !important;
}

.entry-cover img {
    border: 1px solid var(--border);
}

ul.share-buttons::before {
    content: "Share :";
}

.footer span:last-child {
    white-space: normal;
}

.home-info ul {
    padding-inline-start: 0px;
    list-style-type: none;
}
.home-info ul li {
    margin-top: 1em;
}
.home-info .entry-header, .home-info .entry-content {
        margin-bottom: 0;
        margin-top: 0;
}
.home-info .entry-footer .social-icons{
    margin-top: 14px;
}
.float-right {
  float: right;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.float-left {
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
:root {
  --link-color: var(--primary);
  --link-hover-color: #573eaa;
  --link-underline-shadow: 0 1px 0 var(--link-color);
  --link-hover-underline-color: #573eaa;
  --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);
}