/* Custom styles

.flex::before {
    content: "Share :";
    display: none;

}
.footnotes a::before {
    content: '[';
}
.footnotes a::after {
    content: ']';
}
.footnote-backref::before, .footnote-backref::after{
    content: none!important;
}
*/

/* Custom styles for the footnotes */
.footnotes p, .footnotes li {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.footnotes ol::before {
    content: "References:";
    margin: 0 0 0 -20px;
    padding: 0;
    font-size: 12px;
    font-weight: 600;
}


/* Custom styles for the share section */
section.flex.flex-row.flex-wrap.justify-center.pt-4.text-xl {
  display: flex !important;
  align-items: center;
  gap: 1px;
  padding-bottom: 16px;
  border-radius: 15px;
  background: rgba(var(--color-neutral-100), 1);
  color: rgba(var(--color-neutral-500), 1);
}
html.dark section.flex.flex-row.flex-wrap.justify-center.pt-4.text-xl {
  background: rgba(var(--color-neutral-500), 1);
  color: rgba(var(--color-neutral-300), 1)
}
section.flex.flex-row.flex-wrap.justify-center.pt-4.text-xl::before {
  content: "Share:";
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  color: var(--tw-prose-body);

}


/* Custom styles for the ko-fi Buy me a coffee */
.ko-fi {
  padding-top: 10px;
  margin-top: 40px;
  padding-bottom: 10px;
  margin-bottom: 40px;
  border-radius: 15px;

  background: rgba(var(--color-neutral-100), 1);
  color: var(--tw-prose-body);
  border-top: 1px solid rgba(var(--color-neutral-300), 1);
  border-bottom: 1px solid rgba(var(--color-neutral-300), 1);
}
 html.dark .ko-fi  {
  background: rgba(var(--color-neutral-500), 1);
  border-top-color: rgba(var(--color-neutral-500), 1);
  border-bottom-color: rgba(var(--color-neutral-500), 1);
}


/* Custom styles for the footer */
#site-footer {
    padding: 10px;
    margin: 40px 0px;
    border-top: 1px solid rgba(var(--color-neutral-300), 1);
    border-bottom: 1px solid rgba(var(--color-neutral-300), 1);
    background: rgba(var(--color-neutral-50), 1);
    border-radius: 15px;
    color: var(--tw-prose-body);
}
html.dark #site-footer{
  border-top-color: rgba(var(--color-neutral-500), 1);
  border-bottom-color: rgba(var(--color-neutral-500), 1);
  background: rgba(var(--color-neutral-700), 1);
}


/* Keyboard styles */
kbd {
  color: #444;
  border: 1px solid #444;
  border-bottom: 3px solid #444;
  border-radius: 5px;
  padding: 0.1rem 0.4rem;
}

/* Headline styles */
#headline {
    font-size: 15px;
    text-align: left;
    text-decoration: none;
    font-weight: 400;
}
#headline ul {
    padding-inline-start: 0px;
    list-style-type: none;
}
#headline ul li {
    margin-top: 1em;
}

/* No zoom styles */
.no-zoom, .ko-fi img {
  pointer-events: none;
}

#site-footer .text-xs.text-neutral-500.dark\:text-neutral-400 {
  align-self: flex-end; margin-top: auto;
}