<br/><br/>

<script src="https://giscus.app/client.js"
        data-repo="fabiograsso/iam-fabiograsso-net"
        data-repo-id="R_kgDOPXdHOg"
        data-category="Blog Comments"
        data-category-id="DIC_kwDOPXdHOs4Ct1ms"
        data-mapping="specific"
        data-term="{{ .Page.TranslationKey }}"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
<!--
<script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
<script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
<script>
  kofiWidgetOverlay.draw('fabiograsso', {
    'type': 'floating-chat',
    'floating-chat.donateButton.text': 'Tip Me',

  });
</script>
-->
<script>
  function updateTheme() {
    const isDarkMode = document.body.classList.contains('dark');
    const giscusTheme = isDarkMode ? 'dark' : 'light';
    // const kofiBackgroundColor = isDarkMode ? 'rgb(55, 56, 62)' : 'rgb(245, 245, 245)';
    // const kofiTextColor = isDarkMode ? 'rgb(218, 218, 219)' : 'rgb(30, 30, 30)';
    const iframe = document.querySelector('iframe.giscus-frame');
    console.log ("Darkmode: " + isDarkMode);
    if (!iframe) {
      setTimeout(updateTheme, 500);
      return;
    }
    iframe.contentWindow.postMessage(
      { giscus: { setConfig: { theme: giscusTheme } } },
      'https://giscus.app'
    );
    //kofiWidgetOverlay.draw('fabiograsso', {
//      'type': 'floating-chat',
//      'floating-chat.donateButton.text': 'Tip Me',
//      'floating-chat.donateButton.background-color': kofiBackgroundColor,
//      'floating-chat.donateButton.text-color': kofiTextColor,
    //});
  }
  const observer = new MutationObserver(updateTheme);
  observer.observe(document.body, { attributes: true, attributeFilter: ['class'] });
  window.onload = () => {
    updateTheme();
  };
</script>