<link rel="preconnect" href="https://giscus.app/">
<link rel="dns-prefetch" href="//giscus.app">
<link rel="preconnect" href="https://static.cloudflareinsights.com/">
<link rel="dns-prefetch" href="//static.cloudflareinsights.com">
<link rel="preconnect" href="https://github.githubassets.com/">
<link rel="dns-prefetch" href="//github.githubassets.com">

<!-- 
<link rel="preconnect" href="https://embeds.iubenda.com/">
<link rel="dns-prefetch" href="//embeds.iubenda.com">
<script type="text/javascript" src="//embeds.iubenda.com/widgets/ed7e70a6-6413-4e02-9a31-3a00de9570b9.js"></script>
-->